{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title> Secret Angel </title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	
    
<header>
	<!-- <img class="logo" src="{% static 'images/end-poverty-logo.jpg' %}"> -->
	<p class="moto">Secret <span style="color :#1DC4E7;">Angel</span></p>
	<nav>
		<ul class="navlink">
			<li ><a href='accounts/register'>Register</a> </li>
			<li><a href='accounts/info'>Donate</a> </li>
			<li><a href="accounts/contact">Contact Us</a> </li>
		</ul>
	</nav>
	<a href='accounts/donator'> <img class="login_img" src="{% static 'images/login_img.png' %}"></a>
</header>

<div class="slideshow"></div>
<br> <br>
<div class="heading">
	<h1>NO POVERTY</h1>
	<br>
	<h2>Free fund raising site for India</h2>
	<a class="btn" href='accounts/register' >Start Fundraiser - It's FREE </a>	
</div>

<div class="content">
	<p>
		This is a non-Profitable Fund raising site which help people in need.
	<br>
		Your small contribution can make a large diffrence in someone's life.
		<br><br>
		<hr class="line1"> <img src="{% static 'images/diamond.png' %}" class="diamond"> <hr class="line2">
	</p>
	<br>	
</div>

<div class="info">
	<p>
		<ul>
		<li>
			our site offers a free fundraising platform with a 0% fee, which means more of your donations can help the charity of your choice.
			There’s no need to worry about having to pay anything in fees.
		</li>
		<br><br>
		<li>
		 	Through our platform, people can raise money for personal, business, and charitable causes.
		</li>
		<br><br>
		 <li>
		 	This is a certified charity campaign that means any money you raise will be sent directly to the charity fund you’re supporting.
		  	You don’t have to worry about withdrawing or managing funds yourself. 
		</li>
		<br><br>
		<li>
			our platform also has a peer-to-peer fundraising option so individuals can fundraise on behalf of their charity of choice. 
		</li> 
</ul>
	</p>
	<!-- <div class="timeline">
		<img src="{% static 'images/timeline.PNG' %}">
	</div> -->
</div>
<div class="timeline">
	<img src="{% static 'images/timeline.PNG' %}">
</div>
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

	
<div class="footer">
	<div class="footer-content">
		<div class="footer-section about">
			<h1 class="logo-text"><span>Secret </span>Angel</h1>
			<br>
			<p>
				our site offers a free fundraising platform with a 0% fee, which means more of your donations can help the charity of your choice.
			There’s no need to worry about having to pay anything in fees.
				
			</p>
			<br>
			<div class="contact">
				<span><i class="fas fa-phone"></i> &nbsp; +91-171-471-714</span>
			
				<span><i class="fas fa-envelope"></i> &nbsp; info@.com</span>
			
			</div>

			<div class="socials">
				<a href="#"><i class="fab fa-facebook"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
			</div>

		</div>

		<div class="footer-section links">
			<h2>Quick links</h2>
			<br>
			<ul>
				<a href="#"><li>Team Member</li></a>
				<a href="#"><li>github</li></a>
				<a href="#"><li>terms & conditions</li></a>

			</ul>
		</div>

		<div class="footer-section contact-form" id="contact-us">
			<h2>Contact Us</h2>
			<br>
			<form action="index.html" method="POST">

				<input type="email" name="email" class="text-input contact-input" placeholder="your email address..." style="background: #272727; color: #bebdbd; border: none; width: 200px; height: 30px;" >
				<br>
				<textarea name="message" placeholder="Your Message..." style="background: #272727; color: #bebdbd; border: none; width: 300px; height: 100px;" ></textarea>
				<br>
				<br>
				<!-- <button type="submit" class="btn btn-big" style="border: none; background-color:#05f7ff height:10px  ; width : 100px; "> -->
					<!-- <i class="fas fa-envelope"></i>
					Send
				</button> -->
			</form>
		</div>
	</div>
	<div class="footer-bottom">
		<p>Copyright &copy; 2021 Brute-force </p>
		| Designed by team Brute_Force |
	</div>
</div>


<script src="{% static 'css/script.js' %}"></script>
<script src="https://kit.fontawesome.com/7299d17e27.js" crossorigin="anonymous"></script>
</body>
</html>